<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <script src="main.js"></script>
    <script src="gameStateService.js"></script>
    <script src="maBinDirective.js"></script>

    <link rel="stylesheet" type="text/css" href="mancala.css">
  </head>

  <body ng-app="mancalaApp">

    <div ng-controller="GameController">
      <div class="header">
        <h1>Mancala</h1>
      </div>

      <div id="gameboard">
        <div ma-bin="leftbin" id="leftbin"></div>

        <div ma-bin="top{{::i}}" ng-repeat="i in [1,2,3,4,5,6]"></div>

        <div ma-bin="bottom{{::i}}" ng-repeat="i in [1,2,3,4,5,6]"></div>

        <div ma-bin="rightbin" id="rightbin"></div>
      </div>

    </div>

  </body>
</html>